<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 가입 페이지 만들기</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script>
      function fetch_dupl() {
        let inputName = document.getElementById("inputName");
        if (!inputName.value) {
          alert("아이디를 입력하세요.");
          return;
        }

        fetch("http://localhost:3030/dupl", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            inputName: document.getElementById("inputName").value,
          }),
        })
          .then((response) => {
            console.log(response);
            return response.json();
          }) //HTTP 응답
          .then((json) => {
            //{ status: "ok", message: "중복된 아이디가 있습니다." }
            console.log(json);
            //BS 얼럿에 메시지 표시하기
            let alert = document.getElementById("alert");
            alert.innerHTML = json.message;
            alert.style.display = "block";

            if (json.status == "ok") {
              alert.classList.replace("btn-danger", "btn-primary");
            } else {
              alert.classList.replace("btn-primary", "btn-danger");
            }
          }) //실제 데이타
          .catch((error) => {
            console.log(error);
          });
      }
    </script>
  </head>
  <body>
    <div class="container-fluid p-4" style="background-color: #eee">
      <div class="row">
        <div
          class="container-fluid"
          style="
            background-color: white;
            max-width: 1200px;
            border-radius: 20px;
          "
        >
          <div class="row">
            <!-- 입력폼 -->
            <form
              name="formJoin"
              action="http://localhost:3030/join"
              method="post"
            >
              <div class="col-12 order-2">
                <h1 class="my-5 text-center">Sign up</h1>
                <div
                  id="alert"
                  class="alert alert-primary"
                  role="alert"
                  th:if="${not #strings.isEmpty( message )}"
                  th:text="${ message }"
                >
                  중복된 아이디가 있습니다.
                </div>
                <div class="mb-3 d-flex flex-row">
                  <div
                    class="d-flex me-2 justify-content-center align-items-center"
                  >
                    <i class="fa-solid fa-user fa-xl"></i>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    name="inputName"
                    placeholder="Your Name"
                  />
                  <button
                    type="button"
                    onclick="fetch_dupl();"
                    class="btn btn-primary ms-1 col-2"
                  >
                    중복확인
                  </button>
                </div>
                <div class="mb-3 d-flex flex-row">
                  <div
                    class="d-flex me-2 justify-content-center align-items-center"
                  >
                    <i class="fa-solid fa-envelope fa-xl"></i>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail"
                    name="inputEmail"
                    placeholder="Your Email"
                  />
                </div>
                <div class="mb-3 d-flex flex-row">
                  <div
                    class="d-flex me-2 justify-content-center align-items-center"
                  >
                    <i class="fa-solid fa-lock fa-xl"></i>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPw"
                    name="inputPw"
                    placeholder="Your Password"
                  />
                </div>
                <div class="mb-3 d-flex flex-row">
                  <div
                    class="d-flex me-2 justify-content-center align-items-center"
                  >
                    <i class="fa-solid fa-key fa-xl"></i>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPw2"
                    name="inputPw2"
                    placeholder="Repeat your Password"
                  />
                </div>

                <div class="mb-3 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >I agree all statement
                    <a style="color: cornflowerblue">Terms of service</a>
                  </label>
                </div>
                <div class="mb-3 d-flex flex-row justify-content-center gap-3">
                  <div class="text-center my-5">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      onclick="history.back();"
                    >
                      뒤로가기
                    </button>
                  </div>
                  <div class="text-center my-5">
                    <button type="submit" class="btn btn-primary">
                      회원가입
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
